{% if post.author %}
  {% assign author = post.author %}
{% elsif page.author %}
  {% assign author = page.author %}
{% else %}
  {% assign author = site.author %}
{% endif %}
{% capture multiauthor %}{{ author | is_array }}{% endcapture %}
{% if author %}
  {% if author == site.author %}
    <span class="byline author vcard">Posted by TheLadders Engineering</span>
  {% else %}
    <span class="byline author vcard">Posted by
      {% if multiauthor == 'true' %}
        {% for individual in author %}
          <span class="fn"><a href="{{ individual | replace: ' ', '' | downcase | prepend: '/ourteam/' | prepend: root_url }}">{{ individual }}</a></span>
        {% endfor %}
      {% else %}
        <span class="fn"><a href="{{ author | replace: ' ', '' | downcase | prepend: '/ourteam/' | prepend: root_url }}">{{ author }}</a></span>
      {% endif %}
    </span>
  {% endif %}
{% endif %}
