{% if post.author %}
  {% assign author = post.author %}
{% elsif page.author %}
  {% assign author = page.author %}
{% else %}
  {% assign author = site.author %}
{% endif %}
{% capture multiauthor %}{{ author | is_array }}{% endcapture %}
{% if author %}
  <span class="byline author vcard">Posted by
    {% if multiauthor == 'true' %}
      {% for individual in author %}
        <span class="fn">{{ individual | author_link }}</span>
      {% endfor %}
    {% else %}
      <span class="fn">{{ author | author_link }}</span>
    {% endif %}
  </span>
{% endif %}
